<div class="container">
  <h3>Welcome to the future of file storage!</h3>
  <div class="information">
    <p>We have made revolutionary advances in file storage.  With our new technology we have been able to extend the life of your files by more than 10 years!  Not even the NSA has access to it once its in our vault. We guarantee that our file storage is so secure and advanced that you can remove the files off of your system once they're uploaded. (Besides, who wants them taking up all that space anyway?)</p>
  </div>
  <div class="options">
    <form action="/"></form>
    <button id="upload-start" type="button">Upload files</button>
    <button id="upload-view" type="button">View my files</button>
  </div>
</div>
